.company-row {
  display: flex;
  flex-direction: row;
  font-size: 15px;
}

.company-row:hover {
    background-color: #e5faf5;
}

.change-pos {
  padding-top: 1%;
  font-size: 13px;
  color: #00d09c;
}

.change-neg {
  padding-top: 1%;
  font-size: 13px;
  color: red;
}
